<form #f="ngForm">
    <div class="form-group">
      <label for="courseName">Course Name</label>
      <input 
      required 
      minlength="5"
      ngModel 
      name="courseName" 
      #courseName="ngModel" 
      id="courseName" 
      type="text" 
      class="form-control">
    <div class="alert alert-danger" *ngIf="(courseName.touched && courseName.valid==false)">
      <div *ngIf="courseName.errors.required">CourseName is Required.</div>
      <div *ngIf="courseName.errors.minlength">CourseName should be atleast {{ courseName.errors.minlength.requiredLength }} characters long.</div>
    </div>
    <div class="form-group">
        <label for="category">category </label>
        <select ngModel name="category" id="category" class="form-control">
          <option *ngFor="let menu of category" [value]="menu.id">{{ menu.name }}</option>
        </select>
      </div>
      <div class="checkbox">
          <label for="checkbox">
            <input type="checkbox" ngModel name="hasGuarentee"> 30 day money back guarentee
          </label>
      </div>
      <p>
        {{ f.value | json }}
      </p>
    <button class="btn btn-primary" [disabled]="f.invalid" >Submit</button>
    </div>
  </form>